<h1>Listing participants</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Player slot</th>
      <th>Hero</th>
      <th>Match</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @participants.each do |participant| %>
      <tr>
        <td><%= participant.account_id %></td>
        <td><%= participant.player_slot %></td>
        <td><%= participant.hero_id %></td>
        <td><%= participant.match_id %></td>
        <td><%= link_to 'Show', participant %></td>
        <td><%= link_to 'Edit', edit_participant_path(participant) %></td>
        <td><%= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Participant', new_participant_path %>
