<tr>
	<td><%= game.name %></td>
	<td><%= game.cost %></td>
	<td><%= game.played %></td>
	<td><%= game.achievements_count %></td>
	<td><%= game.playedgames_count %> players</td>
	<td><%= link_to 'Show', game %></td>
	<td><%= link_to 'Edit', edit_game_path(game) %></td>
	<td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
