<h1>Listing games <%= @games.count %></h1>
<%= will_paginate %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cost</th>
      <th>Played</th>
      <th>Achievement Count </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
        <%= render @games %>
  </tbody>
</table>

<br>
<%= will_paginate %>
<%= link_to 'New Game', new_game_path %>
