<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>
<p>
  <strong>Appp ID:</strong>
  <%= @game.appid %>
</p>
<p>
  <strong>Cost:</strong>
  <%= @game.cost %>
</p>

<p>
  <strong>Played:</strong>
  <%= @game.played %>
</p>

	<%= render @achievements %>
<%= will_paginate @achievements, :param_name => 'achievement_page' %>
	<%= render @stats %>
<%= will_paginate @stats, :param_name => 'stat_page' %>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
