<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>
<p>
  <strong>Appp ID:</strong>
  <%= @game.appid %>
</p>
<p>
  <strong>Cost:</strong>
  <%= @game.cost %>
</p>

<p>
  <strong>Played:</strong>
  <%= @game.played %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
