<table>
<tr><td>Win/Loss:</td><td><%= stats.wins %> - <%= stats.losses %></td></tr>

	<tr><td>Average KDA:</td><td><%= stats.avg_kda %></td></tr>
	<tr><td>Winning KDA:</td><td><%= stats.winning_kda %></td></tr>
	<tr><td>Losing KDA:</td><td><%= stats.losing_kda %></td></tr>

	<tr><td>Most played hero:</td><td><%= stats.most_played_hero %></td></tr>
	<tr><td>Most played mode:</td><td><%= stats.most_played_mode %></td></tr>
	<tr><td>Most played with:</td><td><%= stats.most_played_with %></td></tr>

	<tr><td>Radiant Games:</td><td><%= stats.radiant_matches %></td></tr>
	<tr><td>Dire Games:</td><td><%= stats.dire_matches %></td></tr>
</table>