<table><% participations.each do |part|%>
	<tr class="row <%= part.winner %>">
		<td>
			<%= link_to part.hero, part.match %>
		</td>
		<td>
			<%= part.side %>
		</td>
		<td>
			<%= part.kda %>
		</td>
		<td>
			<%= part.match.mode %>
		</td>
		<td>
			<%= part.match.lobby_type %>
		</td>
	</tr>
<%end%>
</table>
<%= will_paginate @match_participations, :param_name => 'part_page' %>