<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>SteamID:</strong>
  <%= @player.steamid %>
</p>
<p>
	<strong>Number of games: </strong>
	<%= @player.games.count %>
</p>	
<p>
  <%= render @playedgames %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
