<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
<p id="notice"><%= notice %></p>
<div class="row">
	<div class="span4">
		<p>
			<h2>
				<a href="<%= @player.profile_url %>"><%= @player.name %></a>
				<img src="<%= @player.small_avatar %>"/>
			</h2>
			
		</p>
		<p>
			<strong>Number of games: </strong>
			<%= @player.games.count %>
		</p>	
		<p>
			<strong>Country: </strong>
			<%= @player.country_code %>
		</p>
		<p>
			<strong>Created at: </strong>
			<%= @player.created_at %>
		</p>
		<p>
			<strong>Status: </strong>
			<%= @player.status %>
		</p>
		<p>
			<strong>Last Login: </strong>
			<%= @player.last_login %>
		</p>
	</div>
</div>
<hidden name="player_id" value=<%= @player.account_id %>></hidden>
<div class="row">
	<div class="span6">
		<h2>Dota matches</h2>
		<%= link_to "Update", action: "get_matches", id: @player %>

		<%= select_tag :hero_id, options_from_collection_for_select(@heroes, 'id', 'name'), :'data-remote' => 'true', :'data-url' => url_for(:controller => 'players', :action => 'show') %>
		<%= content_tag "div", :id=> "pgrid", :name => "participation_grid" do %>
		<%= render partial: 'participation_list', locals: { participations: @match_participations}%>
		
		<%end%>
	</div>
	<div class="span4">
		<h2>Global Stats </h2>
		<%= link_to "Update", action: "update_stats", id: @player %>
		<%= render partial: "dotastats/dotastat", locals: { stats: @stats } %>
	</div>
</div>
<div class="row">
	<div class="span8">
		<%= high_chart("monthly_record", @stats.monthly_record_chart) %>
	</div>
</div>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
