<p id="notice"><%= notice %></p>
<img src=<%= part.hero_small_img(part.hero) %>></img>
<p>
  <strong>Id:</strong>
  <%= @hero.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @hero.name %>
</p>

<%= link_to 'Edit', edit_hero_path(@hero) %> |
<%= link_to 'Back', heroes_path %>
